* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.Text {
    text-align: center;
}

.div-center {
    display: flex;
    justify-content: center;
}
.flex-row{
    flex-direction: column;
}
.gren {
    color: white;
    background-color: rgb(25, 148, 1);
    padding: 10px;
    border-radius: 25px;
}
.w-26{
    width: 256px;
}
.mb-1{
    margin-bottom: 1rem;
}

.red {
    color: rgb(255, 255, 255);
    background-color: rgb(185, 43, 0);
    padding: 10px;
    border-radius: 25px;
}
ul{
    list-style: none;
}